{% extends 'main/base.html' %}

{% block content %}
  <div class="container">

    {% include 'main/navbar.html' with nav='about' %}

    <br/>
    <div class="row">
      <div class="col">
        <h2>Hello BoardGame Geeks.</h2>
        <p>This is an analysis site of BGG.</p>
        <p>Games are scraped for their ratings. This takes long and only
          the top few games on the ranking is currently known.</p>
        <p>The ratings were used to build a recommender system. Based of each
          players' ratings recommendations are calculated.</p>
        <p>Look up your username and there should be recommendations
          on the user's page. It is updated weekly and should change
          if new ratings were made or changed to the list of games.</p>
        <p>More games will be added but it takes a long time.</p>
      </div>
    </div>
  </div>
{% endblock %}
