{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}BGG Data{% endblock %}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/favicon-16x16.png' %}">

    <link href="{% static 'main/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'main/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'main/css/main.css' %}" rel="stylesheet"/>

    <script src="{% static 'main/bootstrap-5.3.3-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/main.js' %}" type="text/javascript"></script>
</head>
<body>
<div class="container-fluid">
    {% include 'main/snippet_navbar.html' %}
    {% block content %}{% endblock %}
    <footer>
        <p>
            Bitcoin donations:<br/>
            bc1qfyk7429vh4vulfe9vew0c32rmq3v9adx7u6v4y<br/>
            <img class="img-fluid" src="{% static 'main/img/btc.png' %}"/>
        </p>
    </footer>
</div>
</body>
</html>
