{% load humanize %}

<div class="card border-dark">
    <a href="{% url 'game_detail' game.id %}" class="text-reset text-decoration-none">
        <img src="{{ game.img }}" class="card-img-top"/>
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'game_detail' game.id %}" class="text-reset text-decoration-none">
                {{ game.name }} <small>[{{ game.year }}]</small>
            </a>
        </h5>
        <p class="card-text">
            <h5>Recs: {{ game.rsa_recs|intcomma }}</h5>
            <p>
                Global rating: {{ game.rating|floatformat:1 }}
                <br/>{{ game.weight_tag }}
            </p>
        </p>
    </div>
</div>
