{% load humanize %}

<div class="card border-dark">
    <a href="{% url 'game_detail' game.id %}" class="text-reset text-decoration-none">
        <img src="{{ game.img }}" class="card-img-top"/>
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'game_detail' game.id %}" class="text-reset text-decoration-none">
                {{ game.name }} <small>[{{ game.year }}]</small>
            </a>
        </h5>
        <p class="card-text">
            <p>Rating: {{ game.average_rating|floatformat:1 }}</p>
            <p>Ratings: {{ game.total_ratings|floatformat:0|intcomma }}</p>
        </p>
    </div>
</div>
