{% extends 'main/base.html' %}
{% load fmt %}

{% load static %}

{% block content %}
    <div class="row container-shop-detail mt-2">
        <div class="col">
            {% if game.url %}
                <a href="{{ game.url }}" target="_blank"
                   class="btn btn-outline-danger float-end mb-2">
                    <img src="{% static "main/img/bgg.png" %}"/>
                    Visit BoardGameGeek
                </a>
            {% endif %}

            <h1>{{ game.name }}</h1>

            {% if game.pitch %}
                <h6 class="text-muted mb-2">{{ game.pitch }}</h6>
            {% endif %}

            {% if game.img %}
                <div class="mb-3">
                    <img src="{{ game.img }}" class="img-fluid" style="max-width: 15em;"/>
                </div>
            {% endif %}

            {% if game.shop_mean %}
                <p class="fs-5">
                    Average price: <strong>R{{ game.shop_mean }}</strong>
                </p>
            {% endif %}

            {% if prices_graph %}
                {{ prices_graph|safe }}
            {% endif %}

            <ul class=" nav nav-tabs" id="listingTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link active"
                            id="in-stock-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#in-stock"
                            type="button"
                            role="tab"
                    >
                        In stock
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="out-of-stock-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#out-of-stock"
                            type="button"
                            role="tab"
                    >
                        Out of stock
                    </button>
                </li>
            </ul>

            <div class="row">
                <div class="col-auto" style="min-width: 50%;">

                    <div class="tab-content mt-3" id="listingTabsContent">
                        <div
                                class="tab-pane fade show active"
                                id="in-stock"
                                role="tabpanel"
                                aria-labelledby="in-stock-tab"
                        >
                            <table class="table table-sm table-striped align-middle">
                                <thead>
                                <tr>
                                    <th>Shop</th>
                                    <th>Listing</th>
                                    <th>Price</th>
                                    <th class="text-end">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for listing in listings %}
                                    {% if listing.in_stock %}
                                        <tr>
                                            <td>{{ listing.shop.name }}</td>
                                            <td>
                                                <img src="{{ listing.img }}" style="width: 4em;"
                                                     class="me-2"/>
                                                {{ listing.name }}
                                            </td>
                                            <td>{{ listing|price }}</td>
                                            <td class="text-end">
                                                <a
                                                        href="{{ listing.url }}"
                                                        target="_blank"
                                                        class="btn btn-sm btn-secondary"
                                                >
                                                    Go to site
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div
                                class="tab-pane fade"
                                id="out-of-stock"
                                role="tabpanel"
                                aria-labelledby="out-of-stock-tab"
                        >
                            <table class="table table-sm table-striped align-middle">
                                <thead>
                                <tr>
                                    <th>Shop</th>
                                    <th>Listing</th>
                                    <th>Last price</th>
                                    <th class="text-end">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for listing in listings %}
                                    {% if not listing.in_stock %}
                                        <tr>
                                            <td>{{ listing.shop.name }}</td>
                                            <td>
                                                <img src="{{ listing.img }}" style="width: 4em;"
                                                     class="me-2"/>
                                                {{ listing.name }}
                                            </td>
                                            <td>{{ listing|last_price }}</td>
                                            <td class="text-end">
                                                <a
                                                        href="{{ listing.url }}"
                                                        target="_blank"
                                                        class="btn btn-sm btn-secondary"
                                                >
                                                    Go to site
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    {# end tab-content #}
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <dl>
                        <dt>Type:</dt>
                        <dd>{{ game.label }}</dd>
                        <dt>Year:</dt>
                        <dd>{{ game.year }}</dd>
                        <dt>Rank:</dt>
                        <dd>{{ game.rank }}</dd>
                        <dt>Rating:</dt>
                        <dd>{{ game.rating|floatformat:1 }}</dd>
                        <dt>Weight:</dt>
                        <dd>{{ game.weight_avg }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ game.description }}</dd>
                    </dl>
                </div>
            </div>

            <sub><small class="text-muted">Created at: {{ game.created_at }}</small></sub>
        </div>
    </div>
{% endblock %}
