{% extends 'main/base.html' %}
{% load humanize %}
{% load params %}

{% block title %}{{ game.name }} - Games - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">

    {% include 'main/navbar.html' with nav='games' %}

    <div class="row">
      <div class="col-6">
        {% if prev %}
          <p><a href="{% url 'game_detail' prev.pk %}">
            <i class="bi bi-chevron-double-left"></i> {{ prev.rating|floatformat }} {{ prev.name }}
          </a></p>
        {% endif %}
      </div>
      <div class="col-6 text-end">
        {% if next %}
          <p><a href="{% url 'game_detail' next.pk %}">
            {{ next.rating|floatformat }} {{ next.name }}
            <i class="bi bi-chevron-double-right"></i>
          </a></p>
        {% endif %}
      </div>
    </div>

    <br/>
    <div class="row">

      <div class="col-8">

        <div class="row">
          <div class="col-4">
            <p>
              <img width="100%" src="{{ game.img }}" alt="{{ game.name }} poster"/>
            </p>
          </div>
          <div class="col-8">
            <h2>{{ game.name }}</h2>
            <h6>Year: {{ game.year }}</h6>
            <h6>Players: {{ game.players_fmt }}</h6>
            <h6>Play time: {{ game.min_play_time }}
              {% if game.min_play_time < game.max_play_time %}&mdash;
                {{ game.max_play_time }}{% endif %}</h6>
            <h6>Age: {{ game.age_fmt }}</h6>
            <h6><a href="{{ game.bgg_link }}" target="_blank">GBB link</a></h6>
          </div>
        </div>

        <br/>
        <div class="row">
          <div class="col">
            <h6>{{ game.categories_comma }}</h6>
            <p>{{ game.description }}</p>
          </div>
        </div>

        {% if day_graph %}
          <br/>
          <div class="row">
            <div class="col">
              {{ day_graph|safe }}
            </div>
          </div>
        {% endif %}

      </div>

      <div class="col-4 text-center">
        <h2>#{{ game.rank }}</h2>
        {% if game.awards.count %}
          <h6>{{ game.awards_fmt|safe }}</h6>
        {% endif %}
        <br/>
        <h3>{{ game.rating|floatformat }}</h3>
        {% if game.reviews_cnt %}
          <p>{{ game.reviews_cnt|intcomma }} reviews</p>
        {% endif %}
        {% if game.weight_avg %}
          <h5>Weight: {{ game.weight_tag }}</h5>
        {% endif %}
        {% if rating_graph %}
          <p>{{ rating_graph|safe }}</p>
        {% endif %}

        <h4>Mechanics</h4>
        <p>{{ game.mechanics_comma }}</p>

        <h4>Families</h4>
        <p>{{ game.families_comma }}</p>
      </div>

    </div>

  </div>
{% endblock %}
