{% extends 'main/base.html' %}
{% load humanize %}
{% load params %}
{% load shops %}

{% block title %}Games - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">
    {% include 'main/navbar.html' with nav='games' %}

    <br/>
    <div class="row">
      <div class="col-8">
        <form>
          <input type="text" name="s" class="form-control" placeholder="Search for game by name..." {% if s %}value="{{ s }}"{% endif %}>
          <input type="hidden" name="o" value="{{ ordering }}">
          <input type="hidden" name="a" value="{{ available }}">
        </form>
      </div>
        <div class="col-4">
        </div>
    </div>

      <br/>
      <div class="row">
          <div class="col-8">
              <p>
                  {{ paginator.count|intcomma }} results
                  {% if s %}
                      <small>(<a href="?{% drop_param 's' %}">clear</a>)</small>
                  {% endif %}
              </p>
          </div>
          <div class="col-4">
              {% if available %}
                  <a href="?{% add_param 'a' 0 %}">Remove availability filter</a>
              {% else %}
                  <a href="?{% drop_param 'a' %}">Hide non-available games</a>
              {% endif %}
          </div>
      </div>

      {% if page_obj %}
      {% include 'main/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
      <table class="table">
        <thead>
        <tr>
          <th class="text-muted">#</th>
          <th>
            {% if ordering == 'rank' %}
              <a href="?{% add_param 'o' '-rank' %}">Rank</a>
            {% else %}
              <a href="?{% add_param 'o' 'rank' %}">Rank</a>
            {% endif %}
            {% if 'rank' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-rating' %}
              <a href="?{% add_param 'o' 'rating' %}">Rating</a>
            {% else %}
              <a href="?{% add_param 'o' '-rating' %}">Rating</a>
            {% endif %}
            {% if 'rating' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>&nbsp;</th>
          <th>
            {% if ordering == 'name' %}
              <a href="?{% add_param 'o' '-name' %}">Name</a>
            {% else %}
              <a href="?{% add_param 'o' 'name' %}">Name</a>
            {% endif %}
            {% if 'name' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-year' %}
              <a href="?{% add_param 'o' 'year' %}">Year</a>
            {% else %}
              <a href="?{% add_param 'o' '-year' %}">Year</a>
            {% endif %}
            {% if 'year' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-weight_avg' %}
              <a href="?{% add_param 'o' 'weight_avg' %}">Weight</a>
            {% else %}
              <a href="?{% add_param 'o' '-weight_avg' %}">Weight</a>
            {% endif %}
            {% if 'weight_avg' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-reviews_cnt' %}
              <a href="?{% add_param 'o' 'reviews_cnt' %}"># ratings</a>
            {% else %}
              <a href="?{% add_param 'o' '-reviews_cnt' %}"># ratings</a>
            {% endif %}
            {% if 'reviews_cnt' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-recs_cnt' %}
              <a href="?{% add_param 'o' 'recs_cnt' %}" title="Recommendations"># recs</a>
            {% else %}
              <a href="?{% add_param 'o' '-recs_cnt' %}" title="Recommendations"># recs</a>
            {% endif %}
            {% if 'recs_cnt' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-hotness' %}
              <a href="?{% add_param 'o' 'hotness' %}">Hotness</a>
            {% else %}
              <a href="?{% add_param 'o' '-hotness' %}">Hotness</a>
            {% endif %}
            {% if 'hotness' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == '-shop_price' %}
              <a href="?{% add_param 'o' 'shop_price' %}">Price</a>
            {% else %}
              <a href="?{% add_param 'o' '-shop_price' %}">Price</a>
            {% endif %}
            {% if 'shop_price' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
        </tr>
        </thead>
        <tbody>
        {% for game in page_obj %}
          <tr>
            <td class="text-muted">{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td>{{ game.rank }}</td>
            <td>{{ game.rating|floatformat }}</td>
            <td class="text-end">
              <a class="text-reset text-decoration-none" href="{% url 'game_detail' game.pk %}">
                <img class="round" height="60px" src="{{ game.img }}"/>
              </a>
            </td>
            <td>
              <a class="text-reset text-decoration-none" href="{% url 'game_detail' game.pk %}">
                <strong>{{ game.name }}</strong> {{ game.awards_fmt|safe }}
                <br/>
                <small class="text-muted">{{ game.pitch }}</small>
              </a>
            </td>
            <td>{{ game.year }}</td>
            <td>{% if game.weight_tag %}{{ game.weight_tag }}{% endif %}</td>
            <td>{% if game.reviews_cnt %}{{ game.reviews_cnt|intcomma }}{% endif %}</td>
            <td>{% if game.recs_cnt %}{{ game.recs_cnt|intcomma }}{% endif %}</td>
            <td>{% if game.hotness %}{{ game.hotness|floatformat:0|intcomma }}{% endif %}</td>
            <td><small>{{ game|price|safe }}</small></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% include 'main/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
    {% endif %}

    <br/>
    <div class="row">
      <div class="col">
        <p>The rank is the official BGG rank.</p>
        <p>The rating is the recalculated average of the ratings that is scraped
          from the game. It appears different to BGG ranking outcomes, so BGG
          probably omit/adjust certain ratings based on some criteria.</p>
        <p>recs = Recommendations: an indication of an estimation on how
        many more players would like the game.</p>
        <p>Hotness is a score of ratings for the past 30 days.</p>
        <p>Weights are the {{ weights_percentiles }} percentiles of the weight ratings.</p>
      </div>
    </div>
  </div>
{% endblock %}
