{% load humanize %}

{% if game.similars %}
  <div class="row justify-content-center">
    <div class="col-8">
      <h4>Similar games</h4>
      {% for sim_game in game.similars.all %}
        <div class="card border-dark mt-3">
          <a href="{% url 'game_detail' sim_game.id %}" class="text-reset text-decoration-none">
            <img src="{{ sim_game.img }}" class="card-img-top card-img-top-4"/>
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'game_detail' sim_game.id %}" class="text-reset text-decoration-none">
                {{ sim_game.name }}
                <small class="text-muted">[{{ sim_game.year }}]</small>
              </a>
            </h5>
            <p class="card-text">
              #{{ sim_game.rank }}
              rated {{ sim_game.rating|floatformat:1|intcomma }}
            </p>
          </div>
          <div class="card-footer">
            <p>Similar Categories
            {% for cat in game.categories.all %}
              {% for sim_cat in sim_game.categories.all %}
                {% if cat == sim_cat %}
                  <br/><small>{{ cat.name }}</small>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </p>

            <p>Similar Mechanics
            {% for mec in game.mechanics.all %}
              {% for sim_mec in sim_game.mechanics.all %}
                {% if mec == sim_mec %}
                  <br/><small>{{ mec.name }}</small>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </p>

            <p>Similar Families
            {% for fam in game.good_families %}
              {% for sim_fam in sim_game.families.all %}
                {% if fam == sim_fam and fam.name not in ignore_families %}
                  <br/><small>{{ fam.name }}</small>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
