{% extends 'main/base.html' %}

{% block content %}
  <div class="container">

    {% include 'main/navbar.html' with nav=nav %}

    <br/>
    <div class="row">
      <div class="col text-center">
        <h3>Games</h3>
        <h5>{{ game_cnt }}</h5>
      </div>
      <div class="col text-center">
        <h3>Players</h3>
        <h5>{{ player_cnt }}</h5>
      </div>
      <div class="col text-center">
        <h3>Ratings</h3>
        <h5>{{ review_cnt }}</h5>
      </div>
    </div>
  </div>
{% endblock %}
