{% extends 'main/base.html' %}

{% block title %}Mechanics - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">

    {% include 'main/snippet_navbar.html' with nav='mec' %}

    <br/>
    <div class="row">
      <div class="col">
        <h2>Mechanics</h2>
        <p>Games grouped by similar mechanics</p>
      </div>
    </div>

    {% for i, data in grouped.items %}
      <hr/>
      <div class="row">
        <div class="col-3">
          <h4>{{ data.games|length }} games</h4>
          <h5>
            {% for n, i in data.mecs %}
              {% if i > 2 %}
                {{ i }}x {{ n }}<br/>
              {% endif %}
            {% endfor %}
          </h5>
        </div>
        {# col3 #}

        <div class="col-9">
          <div class="row mb-1">
            {% for game in data.games %}
              <div class="col-4">
                <p>
                  <a href="{% url 'game_detail' game.id %}" class="text-reset text-decoration-none">
                    <img class="round float-start" height="60px" src="{{ game.img }}"/>
                    {{ game.name }}
                  </a></p>
              </div>
              {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row mb-1">
              {% endif %}
            {% endfor %}
            </div>
        </div>
        {# col9 #}

      </div>{# row #}
    {% endfor %}

  </div>{# container #}
{% endblock %}
