<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">BGG <small>Data</small></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if nav == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'games' %}active{% endif %}" href="{% url 'game_list' %}">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'players' %}active{% endif %}" href="{% url 'player_list' %}">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'reviews' %}active{% endif %}" href="{% url 'reviews' %}">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'got' %}active{% endif %}" href="{% url 'got' %}">Game of the</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'shop' %}active{% endif %}" href="{% url 'shop' %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
