{% extends 'main/base.html' %}
{% load humanize %}
{% load params %}

{% block content %}
  <div class="container">

    {% include 'main/navbar.html' with nav='players' %}

    <br/>
    <div class="row">
      <form>
        <div class="col-8">
          <input type="text" name="s" class="form-control" placeholder="Search for player by nickname..." {% if s %}value="{{ s }}"{% endif %}>
          <input type="hidden" name="o" value="{{ ordering }}">
        </div>
      </form>
    </div>

    <br/>
    <div class="row">
      <div class="col">
        <p>
          {{ paginator.count|intcomma }} results
          {% if s %}
            <small>(<a href="?{% drop_param 's' %}">clear</a>)</small>
          {% endif %}
        </p>
      </div>
    </div>

    {% if page_obj %}
      {% include 'main/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
      <table class="table">
        <thead>
        <tr>
          <th class="text-muted">#</th>
          <th>
            {% if ordering == 'reviews_scr' %}
              <a href="?{% add_param 'o' '-reviews_scr' %}">Score</a>
            {% else %}
              <a href="?{% add_param 'o' 'reviews_scr' %}">Score</a>
            {% endif %}
            {% if 'reviews_scr' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>
            {% if ordering == 'nick' %}
              <a href="?{% add_param 'o' '-nick' %}">Nick</a>
            {% else %}
              <a href="?{% add_param 'o' 'nick' %}">Nick</a>
            {% endif %}
            {% if 'nick' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>Name</th>
          <th>
            {% if ordering == 'reviews_cnt' %}
              <a href="?{% add_param 'o' '-reviews_cnt' %}"># board games</a>
            {% else %}
              <a href="?{% add_param 'o' 'reviews_cnt' %}"># board games</a>
            {% endif %}
            {% if 'reviews_cnt' in ordering %}
              <i class="bi bi-sort-{% if '-' in ordering %}down{% else %}up{% endif %} "></i>
            {% endif %}
          </th>
          <th>Geo</th>
        </tr>
        </thead>
        <tbody>
        {% for player in page_obj %}
          <tr>
            <td class="text-muted">{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td>{{ player.reviews_scr|floatformat }}</td>
            <td><a class="text-reset text-decoration-none" href="{% url 'player_detail' player.pk %}">
              <strong>{{ player.nick }}</strong>
            </a></td>
            <td>{% if player.name %}{{ player.name }}{% endif %}</td>
            <td>{{ player.reviews_cnt|intcomma }}</td>
            <td>{{ player.geo }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% include 'main/pagination.html' with is_paginated=is_paginated page_obj=page_obj %}
    {% endif %}


    <p>Players need at least 3 ratings to show up on the list.</p>
    <p>Processed {{ progress }}% of players.</p>
  </div>
{% endblock %}
