{% extends 'main/base.html' %}

{% block title %}Reviews - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">

    {% include 'main/navbar.html' with nav='reviews' %}

    {% if graph_day %}
    <div class="row">
        <div class="col">
            {{ graph_day|safe }}
        </div>
    </div>
    {% endif %}

    {% if graph_reviews_cnt %}
    <div class="row">
        <div class="col">
            {{ graph_reviews_cnt|safe }}
        </div>
    </div>
    {% endif %}

    {% if graph_rating %}
    <div class="row">
        <div class="col">
          {{ graph_rating|safe }}
        </div>
    </div>
    {% endif %}
  
  </div>
{% endblock %}
