{% extends 'main/base.html' %}
{% load humanize %}
{% load shops %}

{% block title %}Shop - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">

        {% include 'main/navbar.html' with nav='shop' %}

        <br/>
        <div class="row">
            <div class="col">
                <h2>Shop</h2>
                <p>Best priced games available</p>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                {# Shop sizes graph #}
                {% if graph_shop_size %}
                    {{ graph_shop_size|safe }}
                {% endif %}
            </div>
            <div class="col-6">
                {# Shop comp #}
                <h4>Shop comparisons.</h4>
                <p>Where shops have the same game, the difference in pricing is averaged.
                <br/>The higher the value the lower the prices are in the shop.</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Shop</th>
                        <th scope="col">Tml</th>
                        <th scope="col">MaV</th>
                        <th scope="col">LU</th>
                        <th scope="col">GG</th>
                        <th scope="col">GH</th>
                        <th scope="col">TTG</th>
                        <th scope="col">THD</th>
                        <th scope="col">SaB</th>
                        <th scope="col">Amz</th>
                        <th scope="col">Median</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name, val in shop_comp.items %}
                    <tr>
                        <th scope="row">{{ name }}</th>
                        {% for i in val %}
                        <td>{% if i %}{{ i|floatformat:0 }}{% else %}&mdash;{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        {# first 5 #}
        <br/>
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:':5' %}
                        {% include 'main/shop_card.html' with game=game %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# second 5 #}
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:'5:10' %}
                        {% include 'main/shop_card.html' with game=game msr='mean' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# third 5 #}
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:'10:15' %}
                        {% include 'main/shop_card.html' with game=game msr='mean' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# fourth 5 #}
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:'15:' %}
                        {% include 'main/shop_card.html' with game=game msr='mean' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>{# container #}
{% endblock %}
