{% extends 'main/base.html' %}
{% load humanize %}
{% load shops %}

{% block title %}Shop - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">

        {% include 'main/navbar.html' with nav='shop' %}

        <br/>
        <div class="row">
            <div class="col">
                <h2>Shop</h2>
                <p>Best priced games available</p>
            </div>
        </div>


        {# first 5 #}
        <br/>
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:':5' %}
                        {% include 'main/shop_card.html' with game=game %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# second 5 #}
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:'5:10' %}
                        {% include 'main/shop_card.html' with game=game msr='mean' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# third 5 #}
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:'10:15' %}
                        {% include 'main/shop_card.html' with game=game msr='mean' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# fourth 5 #}
        <div class="row">
            <div class="col">
                <div class="card-group">
                    {% for game in games|slice:'15:' %}
                        {% include 'main/shop_card.html' with game=game msr='mean' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>{# container #}
{% endblock %}
