<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">BGG <small>Data</small></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'home' %}active{% endif %}"
                       href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'shops' %}active{% endif %}"
                       href="{% url 'shop-list' %}">Shops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'listings' %}active{% endif %}"
                       href="{% url 'listing-list' %}">Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'games' %}active{% endif %}"
                       href="{% url 'game-list' %}">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'rpg' %}active{% endif %}"
                       href="{% url 'rpg-list' %}">RPG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'accessories' %}active{% endif %}"
                       href="{% url 'accessories-list' %}">Accessories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
