a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #000;
}

.out-of-stock-txt {
    color: #666;
}


.out-of-stock-img {
    filter: grayscale(100%);
    opacity: 0.5;
}

/************************* GAME CARD GROUP **********************************/

.card {
    width: 100%;
}

.card-img-top {
    height: 18em;
    object-fit: contain;
}


.card-title a {
    text-decoration: none;
    font-style: normal;
    color: #222;
}

.card-title-oos {
    text-decoration: line-through;
}

/************************* LIST **********************************/

.list-img {
    height: 4em;
    width: auto;
    padding: 0 2em 0;
}

/************************* LISTING DETAIL **********************************/

.container-listing-detail img {
    width: 10em;
}


/************************* FILTERING FORM **********************************/

.filtering-form .form-control {
    margin-top: 1em;
}


/************************* FOOTER **********************************/

footer2 {
    /* Background Gradient */
    background-image: linear-gradient(to bottom, #ccc, #999);

    /* Optional: For demonstration purposes, to see the gradient in action */
    min-height: 200px; /* Adjust the height to see the gradient effect */
    text-align: center;
    padding: 20px;
    color: #333; /* Text color, for readability */
}

footer {
    padding-top: 5em;
    text-align: center;
    color: #666;
}

footer img {
    filter: grayscale(100%);
    opacity: 0.5;
}
